# Discord Bot Invitation Link, altere CLIENT_ID com o ID do seu bot
# ATENÇÃO: ativar Message Content Intent nas configurações do bot no Discord Developer Portal

# https://discord.com/api/oauth2/authorize?client_id=CLIENT_ID&permissions=4503994764454912&scope=bot%20applications.commands

# Discord Bot Tokens
DISCORD_TOKEN=

CLIENT_ID=
GUILD_ID=

TRIAGE_CHANNEL_ID=
EPIC_CHANNEL_ID=

# Para pegar o Project ID, rode um dos comandos abaixo no gh CLI:
#
# Para usuário pessoal:
# gh api graphql -f query='{ user(login: "SEU_USERNAME") { projectsV2(first: 10) { nodes { id title } } } }'
#
# Para organização:
# gh api graphql -f query='{ organization(login: "NOME-DA-ORG") { projectsV2(first: 10) { nodes { id title } } } }'

# GitHub Tokens

GITHUB_TOKEN=
GITHUB_PROJECT_ID=

PUBLIC_REPO_OWNER=
PUBLIC_REPO_NAME=

PRIVATE_REPO_OWNER=
PRIVATE_REPO_NAME=
